<div *ngIf="booking">
  <div style="padding-bottom: 1rem; padding-left: 1rem">
    <p>Date: {{ booking.date | date: "short" }}</p>
    <p>Created: {{ booking.createdDate | date: "short" }}</p>
    <p>Location: {{ booking.location }}</p>
    <p>Comments: {{ booking.comments }}</p>
    <p>Status: {{ statusLabel }}</p>
    <p>Booking Creator: {{ booking.owner }}</p>
  </div>

  <div style="padding-left: 1rem">
    <div>
      <button
        mat-button
        [disabled]="booking.status === 'AC'"
        (click)="acceptBooking()"
      >
        Accept
      </button>
      <button
        mat-button
        [disabled]="booking.status === 'DN'"
        (click)="denyBooking()"
      >
        Deny
      </button>
    </div>
    <app-message-container [booking]="booking"></app-message-container>
  </div>
  <div *ngIf="!booking">
    <p>Could not fetch booking information.</p>
  </div>
</div>
