<div class="container">
  <div *ngIf="company">
    <h2>{{company.name}}</h2>
    <p>{{company.location}}</p>
    <p>{{company.description}}</p>

    <button (click)="showBookings()">Show Bookings</button>
    <div *ngIf="hideBookings">
      <div *ngFor="let item of company.bookings">
      <p>{{item.date}}</p>
      <p>{{item.createdDate}}</p>
      <p>{{item.location}}</p>
      <p>{{item.comments}}</p>
      <p>{{item.status}}</p>
    </div>
    </div>
  </div>

  <button mat-button (click)="openDialog()">Book Company</button>

    <li *ngIf="booking">
    ID: <i>{{booking.id}}</i>
    location: <i>{{booking.location}}</i>
    comment: <i>{{booking.comments}}</i>
    date: <i>{{booking.date}}</i>

  </li>
  
  <div>
    <button (click)="goBack()">go back</button>
  </div>
</div>
